body {
  // background: #f0bf82;
  margin: 0 auto;
  background: black;
  // font-family: "merriweather sans";
  font-family: "helvetica neue";
  font-weight: 200;
  color: #80907c;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1,
h2 {
  color: #80907c;
  text-align: center;
  font-family: "helvetica neue";
  font-weight: 200;
}

h1 {
  font-size: calc(2vh * 2vw);
}

h2 {
  font-size: 2vh;
  text-transform: uppercase;
  // font-family: "merriweather";
}

.headerBlock {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin-top: 0.5em;
  position: absolute;

  top: 22px;

  text-align: center;

  @media (min-width: 670px) {
    text-align: left;
    left: 34px;
  }
}

.albumTitleBlock {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin-top: 0.5em;
  position: absolute;
  width: auto;
  bottom: 2.4em;
  top: unset;
  text-align: center;
  max-width: 80%;
  align-self: center;

  @media (min-width: 670px) {
    text-align: right;
    top: 22px;
    right: 34px;
    bottom: unset;
    max-width: 50%;
    align-self: unset;
  }
}

.heading {
  text-transform: uppercase;
}

.albumflow {
  width: calc(30vw - 1em);
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin-top: 0.5em;
  position: absolute;
  top: 1.4em;
  left: 2em;
  font-weight: 400;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
  height: 100vh;
  // salign-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: space-evenly;
  -webkit-align-content: center;

  @media (min-width: 520px) {
    justify-content: space-between;
    width: 70vw;
  }
}

.cover {
  width: 37vw;
}

.button {
  background: none;
  border: none;
  outline: none;
  padding-top: 1em;
  order: 2;

  @media (min-width: 520px) {
    padding-top: 0;
    order: unset;
  }
}

// .app {
//   display: flex;
//   align-items: center;

//   flex-direction: column;
//   height: 100vh;
//   width: 100vw;
//   overflow: hidden;
//   justify-content: center;
//   background-color: rgba(180, 107, 180, 0.5);
//   display: none;
// }

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
}

.bg {
  background-size: cover;
  background-position: 50% 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(1) brightness(0.45) contrast(1.3);
}

.bgtint {
  background-size: cover;
  background-color: #46472ed9;
  opacity: 1;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 20px solid #ddffddba;
  border: 20px solid #ffffff80;
  filter: contrast(1.6) brightness(0.5);
}
